workflows/Phase 2_ Crypto Tutor Bot.json
{
  "name": "Phase 2: Crypto Tutor Bot",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text || $json.message?.text }}",
        "options": {
          "systemMessage": "You are an expert cryptography tutor. You MUST always use the search_crypto_notes tool to retrieve context before answering. Do not attempt to answer from outside knowledge."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        208,
        0
      ],
      "id": "50704967-b5d5-45ed-9dbd-781baa56037d",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "llama-3.1-8b-instant",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        208,
        208
      ],
      "id": "d9318806-e538-4c20-bba4-1f0eb66720e5",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "GUYeCSgNJdLdqdxp",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "sentence-transformers/all-MiniLM-L6-v2",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsHuggingFaceInference",
      "typeVersion": 1,
      "position": [
        272,
        608
      ],
      "id": "9e3d6499-336e-4fb1-821f-1b70457bd663",
      "name": "Embeddings HuggingFace Inference",
      "retryOnFail": true,
      "credentials": {
        "huggingFaceApi": {
          "id": "xxdqcoQ4y2Yz0kQX",
          "name": "HuggingFaceApi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Explain to the LLM what this tool does. A good, specific description allows LLMs to produce expected results more often.",
        "pineconeIndex": {
          "__rl": true,
          "value": "crypto-notes",
          "mode": "list",
          "cachedResultName": "crypto-notes"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        272,
        416
      ],
      "id": "2858d41b-73b3-4cb9-87e8-b0660f740af6",
      "name": "search_crypto_notes",
      "credentials": {
        "pineconeApi": {
          "id": "d8ucXbCpO4Fw5FjB",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').first().json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        560,
        0
      ],
      "id": "a17ee335-ab1b-445e-abdf-8888d4930d08",
      "name": "Send a text message",
      "webhookId": "3b1f90a0-658f-4ee7-83af-06c5c04593e9",
      "credentials": {
        "telegramApi": {
          "id": "s2RbCzZjnyOi0lqY",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.voice.file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -368,
        -224
      ],
      "id": "6a827aca-072c-41a2-b1e0-2655a8490d3a",
      "name": "Get a file",
      "webhookId": "4f7ca9ad-954b-4827-a559-708ee25c8f79",
      "credentials": {
        "telegramApi": {
          "id": "s2RbCzZjnyOi0lqY",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first();\n\n// Check if the binary file exists, then rename it to .ogg\nif (item.binary && item.binary.data) {\n  item.binary.data.fileName = 'voice.ogg';\n  item.binary.data.fileExtension = 'ogg';\n}\n\nreturn item;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -192,
        -224
      ],
      "id": "b39354dc-a1e6-43cb-a1aa-742351ea3472",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {
          "download": true
        }
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -784,
        32
      ],
      "id": "80cde2de-855d-4bdb-8560-dbd07730e7ee",
      "name": "Telegram Trigger",
      "webhookId": "d8d1d997-e48c-4a8b-8460-f0b56c42dcb7",
      "alwaysOutputData": false,
      "credentials": {
        "telegramApi": {
          "id": "s2RbCzZjnyOi0lqY",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "3cc9f826-63c0-4b8e-9bf6-e69e184d0a0b",
              "leftValue": "={{ $json.message.voice ? \"audio\" : \"text\" }}",
              "rightValue": "=audio",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -528,
        32
      ],
      "id": "d564db8c-611a-4cbe-b9a3-afb0e3ebdc5a",
      "name": "If"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/audio/transcriptions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "whisper-large-v3"
            },
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -32,
        -224
      ],
      "id": "468da7dc-7be0-41bc-aa5c-b5e48006b022",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "bMHwztuKvRkqaW4w",
          "name": "Header Auth account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings HuggingFace Inference": {
      "ai_embedding": [
        [
          {
            "node": "search_crypto_notes",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "search_crypto_notes": {
      "ai_vectorStore": [
        []
      ],
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "7b63eb4f-16da-485e-9456-bf35cdb4484d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a6fc3129ec090b8d0df87b2a0a74628c6ff3b6c5f7eebeba2f3b6a6361852e3a"
  },
  "id": "a1B5s3MEbSfswqlm",
  "tags": []
}