workflows/Phase 1_ Crypto Data Ingestion.json
{
  "name": "Phase 1: Crypto Data Ingestion",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -592,
        -176
      ],
      "id": "525394a6-6697-4635-b480-d914c5cfd1d2",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "crypto-notes",
          "mode": "id"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        -192,
        64
      ],
      "id": "eaf30c93-9d2a-495a-8c90-84b64c81580f",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "d8ucXbCpO4Fw5FjB",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        -48,
        240
      ],
      "id": "cfbfd323-54e0-4ccf-9c8b-c643374f18ef",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "modelName": "sentence-transformers/all-MiniLM-L6-v2",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsHuggingFaceInference",
      "typeVersion": 1,
      "position": [
        -192,
        240
      ],
      "id": "a34d03e7-2f8b-4d81-9b4b-e0480d9d4332",
      "name": "Embeddings HuggingFace Inference",
      "credentials": {
        "huggingFaceApi": {
          "id": "xxdqcoQ4y2Yz0kQX",
          "name": "HuggingFaceApi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "1iUTWtTFLJpCKRn1xPhYUfcJK1VppZ0hP",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -384,
        -176
      ],
      "id": "fc3b6a48-9131-4ab6-8269-5d8ece65e458",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "WIR37ogYS3zGsG32",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.cloud.llamaindex.ai/api/v1/parsing/upload",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -176,
        -176
      ],
      "id": "6627a2c1-2bec-47cb-b8af-768a1fc7fe7c",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "bMHwztuKvRkqaW4w",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "amount": 20
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        16,
        -176
      ],
      "id": "ee6b08b1-8209-4b48-9ecc-f1c4e41d7886",
      "name": "Wait",
      "webhookId": "11a40d4e-c733-4223-a39a-5160f2614466"
    },
    {
      "parameters": {
        "url": "=https://api.cloud.llamaindex.ai/api/v1/parsing/job/{{ $json.id }}/result/markdown",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -576,
        64
      ],
      "id": "901b9b15-dd1a-40b2-8f43-a5c6f60e79c7",
      "name": "HTTP Request1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "bMHwztuKvRkqaW4w",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6a1433a3-a83b-4fa1-8c1d-6c786be3b2a8",
              "name": "text",
              "value": "={{ $json.markdown }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -368,
        64
      ],
      "id": "c72e4f66-2b5b-4af4-a477-0658c8c382e7",
      "name": "Edit Fields"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings HuggingFace Inference": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "4b4f0603-fd6e-470a-b598-08961d831847",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a6fc3129ec090b8d0df87b2a0a74628c6ff3b6c5f7eebeba2f3b6a6361852e3a"
  },
  "id": "TsQrByoAKtUIBHbU",
  "tags": []
}
